<ul>
  <li>New comments</li>
  <li>
    <div class="column">
    <span class="first">Market research</span>
    <span class="second" >find my keynote attached...</span>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="black" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6z"/></svg>
  </li>
  <li>
    <div class="column">
    <span class="first">Market research</span>
    <span class="second">i've added the data.
      let's c...
    </span></div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="black" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6z"/></svg>
  </li>
</ul>
