li{
  height: 15%;
  padding: 3% 7%;
  border-bottom: 2px solid #F7F5F4;
  display: flex;
  cursor: pointer;
}
li:first-child{
  padding-top:6% ;
  font-size: larger;
}
li:last-child{
  border-bottom: none;
}
span{
  padding: 0 7%;
}
.active-link {
  background-color:#FCF8EB;
  border-left-color: #FAE150;
  border-left-width:8px;
  border-left-style:solid ;
}
